@font-face {
  font-family: MontserratThin;
  src: url("public/fonts/static/Montserrat-Thin.ttf");
}
@font-face {
  font-family: MontserratExtraLight;
  src: url("public/fonts/static/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: MontserratLight;
  src: url("public/fonts/static/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("public/fonts/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: MontserratMedium;
  src: url("public/fonts/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: MontserratSemiBold;
  src: url("public/fonts/static/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("public/fonts/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: MontserratExtraBold;
  src: url("public/fonts/static/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: MontserratBlack;
  src: url("public/fonts/static/Montserrat-Black.ttf");
}

.montserrat-thin {
  font-family: "MontserratThin", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extralight {
  font-family: "MontserratExtraLight", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-light {
  font-family: "MontserratLight", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "MontserratMedium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "MontserratSemiBold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "MontserratBold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "MontserratExtraBold", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-black {
  font-family: "MontserratBlack", sans-serif;
  font-weight: 900;
  font-style: normal;
}
