@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

h1, .h1 {
  margin-bottom: 16px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: -0.03em;
}
