@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  //scroll-behavior: initial;
  //scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  @apply bg-dark;
}

h1, .h1 {
  margin-bottom: 16px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

@media (max-width: 640px) {
  h1, .h1 {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -0.03em;
  }
}
